<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Mocha</title>
  </head>
  <body>
    <div id="spin"></div>
    <div id="root"></div>
    <div id="modal"></div>
  </body>
</html>
